# Kirby CMS
# ----------
/content/*
!/content/site.txt
/site/accounts/*
!/site/accounts/.gitkeep
/site/cache/*
!/site/cache/.gitkeep
/site/sessions/*
!/site/sessions/.gitkeep
/site/config/.license
/site/config/config.*.php
/media/*
!/media/index.html
/assets/avatars/*
!/assets/avatars/.gitkeep

# System files
.DS_Store
Thumbs.db
*.swp
.env

# IDE
.idea/
.vscode/
*.sublime-*

# Dependencies
/vendor/
/node_modules/
/kirby/

# Logs
*.log
npm-debug.log*